dev4720-natives/
data/
logs/
PCL/
resourcepacks/
saves/
XaeroWorldMap/
XaeroWaypoints_BACKUP032021/
XaeroWaypoints/
dev4720.jar
dev4720.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json
local/
CustomSkinLoader/
crash-reports/
schematics/
shaderpacks/
GuGuCraft-DEV.jar
GuGuCraft-DEV.json
GuGuCraft-DEV-natives/OpenAL.dll
XaeroWaypoints_BACKUP03GuGuCraft-DEV0GuGuCraft-DEV1/
GuGuCraft-DEV-natives/
mods/probejs-5.9.3-forge.jar
config/oculus.properties
config/xaerominimap_entities.json
config/jade/sort-order.json
config/xaerominimap_entities.json
config/oculus.properties
config/jei/*
config/fabric/*
config/oculus.properties
config/xaerominimap_entities.json
config/InventoryHUD/*
config/xaerominimap_entities.json
config/jade/*
config/spark/
config/InventoryHUD/
config/kiwi-client.yaml
config/oculus.properties
config/xaerominimap_entities.json
.vscode/